.App {
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  background: linear-gradient(#000, 80%, #5d6435);
  background-repeat: no-repeat;
  height: 100%;
  color: #ccd3a4;
}

body,
a,
button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: large;
}

a,
button {
  display: inline-block;
  border: 2px solid #a9a9a9;
  padding: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border-radius: 2em;
  background: #000;
  text-decoration: none;
  color: grey;
  display: inline-block;
  margin: 0.1em;
}
