.App {
  text-align: center;
}

body,
a,
button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: large;
}

a,
button {
  display: inline-block;
  border: 2px solid #a9a9a9;
  padding: 0.3em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border-radius: 2em;
  background: #000;
  text-decoration: none;
  color: whitesmoke;
  display: inline-block;
  margin: 0.1em;
}
img {
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 10px solid;
  border-radius: 60px 0px 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.inventory {
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 10px solid;
  border-radius: 60px;
}

div.inventory {
  display: flex;
  justify-content: center;
}

div.actions {
  border: 10px solid;
  border-radius:  0px 60px 0px 60px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  padding-top: 30px;
  padding-bottom: 30px;
}

div.character-list button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  border: 10px solid black;
  border-radius: 0px 60px 60px 0px;
}