img {
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 10px solid;
  border-radius: 60px 0px 60px;
}

img.inventory {
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 10px solid;
  border-radius: 60px;
}

div.inventory {
  display: flex;
  justify-content: center;
}
